body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merryweather", serif;
  font-size: 200%;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

hr {
  /* border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%; */
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

p {
  line-height: 1.5;
}

a {
  color: #11999e;
  font-family: "Merryweather", serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.title {
  border-radius: 50%;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.mountain-img {
  width: 40%;
}

.contact-msg {
  margin: 40px auto 60px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.skill-row {
  width: 65%;
  margin: 75px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  width: 13%;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 32%;
  margin: auto;
}

.profile-img {
  width: 15%;
  border-radius: 50%;
  box-shadow: 1px 1px 2px black, 0 0 25px #66bfbf, 0 0 5px darkblue;
  
}

.java-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.python-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.machinelearning-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.html-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.css-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.js-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  font-family: "Merryweather", serif;
  color: #ffffff;
  background: #349bdb;
  padding: 10px 20px 10px 20px;
  font-size: 25px;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  text-decoration: none;
  color: #40514e;
}

.copyright-msg {
  color: #eaf6f6;
  font-size: 1rem;
  padding: 25px 0;
}

.navbar {
  background-color: #e4f9f5;
  /* background-color: #051916; */
  text-align: left;
  padding: 2px 10px;
}

ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1.5rem;
  bottom: 25px;
}

.nav:hover {
    color: #ffffff;
}




.left-img {
    width: 35%;
    float: left;
    margin-right: 30px;
}

.right-img {
    width: 35%;
    float: right;
    margin-left: 30px;
}

.certificate-row {
    width: 45%;
    margin: 75px auto;
    text-align: left;
    font-size: 1rem;
}

.left-img:hover {
    transform: scale(3.0);
}


.right-img:hover {
    transform: scale(3.0);
}
